*{
	box-sizing: border-box;
}
body
{
	background-color: #e8e8e8;
}

#wrapper
{
	margin: 0 auto;
	width: 1700px;
	
}
	.header{
		padding-top: 22px;
		padding-left:12px;
		padding-right:12px;
		padding-bottom:22px;
		height: 80px;
		border: 1px solid #d8d8d8;
		margin: 11px 13% 0px 13%;
		background-color:#fff;

	}
	.h1
	{

	
		padding-left:40px;
		display: inline-block;
	}
	.h2
	{
		padding-left:60%;
		display: inline-block;
	}
	p
	{
		display: inline-block;
		line-height: 20px;
		font-family: arial, sans-serif;
		font-weight: 600px;
		font-size:12px;
		color:#8c8c8c;
	}
	h2
	{
		display: inline-block;
		font-family: Lobster;
		font-size:25px;
		color:#cd2027;
	}
	h1
	{
		display: inline-block;
		font-family: Lobster;
		font-size:32px;
		color:#3c3c3c;
		margin-bottom:40px;
	}
	span
	{	
		font-family: Lobster;
		font-size:16px;
		
	}
	.main
	{ 

		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 386px;
		border: 1px solid #d8d8d8;
		
		margin: 5px 13% 0px 13%;
		background-color:#fcfcfc;

	}
	.text
	{
		display: inline-block;
		background-color:#fcfcfc;
		width: 609px;
		height: 384px;
		padding-top: 56px;
		padding-left: 40px;
		padding-right:20px;
		
		
	}
	.photo
	{
		position: absolute;
		display: inline-block;
		background-color:#fcfcfc;
		width: 609px;
		height: 384px;
		padding-top: 10px;
		padding-left: 55px;
		

	}
	.btn-1
	{
		margin-left: 60px;
		margin-top: 40px;
		margin-right:22px;
		font-size: 18px;
		font-family: Lobster;
		color: #ca4500;
		font-weight: 300;
		background-color: #ff9600;
		border-color:#ff9800;
		height: 40px;
		width: 170px;
		border-radius: 25px;
		
	}
	.btn-2
	{
		text-align: center;
		margin-left:22px;
		font-size: 18px;
		font-family: Lobster;
		color: #838383;
		font-weight: 300;
		background-color: #ebebeb;
		border-color:#dfdfdf;
		height: 40px;
		width: 170px;
		border-radius: 25px;
	}
	.photo-1
	{
		width: 500px;
	}
	.photo-1-shadow
	{
		margin-left:37px;
	}
	.main-block-2
	{
		
		padding-left:12px;
		padding-right:12px;
		
		height: 228px;
		border: 1px solid #d8d8d8;
		margin: 5px 13% 0px 13%;
		background-color: #fff;
	}
.box-1
{
	display: inline-block;
		
		width: 33.1%;
		height: 225px;
		padding-top:3%;
		padding-left: 65px;
		padding-right:20px;
		background-color: #fff;
}
.box-2
{
display: inline-block;
		
		width: 33.1%;
		height: 225px;
		padding-top: 3%;
		padding-left: 65px;
		padding-right:20px;
		background-color: #fff;
}
.box-3
{
	display: inline-block;
		
		width: 33.1%;
		height: 225px;
		padding-top: 3%;
		padding-left: 65px;
		padding-right:20px;
		background-color: #fff;
}
.photo-box-1, .text-box-1, .photo-box-2, .text-box-2, .photo-box-3, .text-box-3
{
	color:black;
	vertical-align: top;
	margin-left:10px;
	
}
.main-block-3
	{ 

		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 240px;
		border: 1px solid #d8d8d8;
		
		margin: 5px 13% 0px 13%;
		background-color:#fff;

	}
	.text3
	{
		display: inline-block;
		background-color:#fff;
		width:609px;
		height: 238px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right:20px;
	}
	.links
	{
		position: absolute;
		display: inline-block;
		background-color:#fff;
		width:609px;
		height: 238px;
		padding-top: 60px;
		padding-left: 110px;
		line-height: 20px;

	}
	.main-block-4
	{
		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 290px;
		border: 1px solid #d8d8d8;
		
		margin: 5px 13% 0px 13%;
		background-color:#fff;


	}
	.screen-1
	{

		display: inline-block;
vertical-align: bottom;
		background-color:#fff;
		width:298px;
		height: 288px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right:20px;
	}
	.screen-2
	{ vertical-align: bottom;
		display: inline-block;
		background-color:#fff;
		width:298px;
		height: 288px;
		padding-top: 86px;
		padding-left: 40px;
		padding-right:20px;
	}
	.screen-3
	{ vertical-align: bottom;
		display: inline-block;
		background-color:#fff;
		width:298px;
		height: 288px;
		padding-top: 86px;
		padding-left: 40px;
		padding-right:20px;
	}
	.screen-4
	{ vertical-align: bottom;
		display: inline-block;
		background-color:#fff;
		width:298px;
		height: 288px;
		padding-top: 86px;
		padding-left: 40px;
		padding-right:20px;
	}
	.shadow-2
	{
		padding-top:20px;
	}
	.reviews
	{
		position: relative;

		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 335px;
		border: 1px solid #d8d8d8;
		
		margin: 5px 13% 0px 13%;
		background-color:#fff;

	}
	.speach
	{
		display: inline-block;

		background-color:#fff;
		width: 100%;
		height: 235px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right:20px;
	}
	.buttons
	{
		display: inline-block;
		margin-top:-4px;
		background-color:#fff;
		width: 100%;
		height: 100px;
		padding-top: 30px;
		padding-left: 400px;
		padding-right:20px;
	}
	.imgblock
	{
		padding-top: 15px;
		margin-left:160px;
		position: relative;
		display: inline-block;
		background-color:#fff;
	}
	
	.imgblock p
	{
		 
    
   
    position: absolute;
    right: 0;
    bottom: 65px;
   text-align: center;
    padding:35px 35px 0px 35px;
    font-style: italic;
    font-size:18px;
	}
	.btn-11
	{
		
		margin-right:22px;
		font-size: 18px;
		font-family: Lobster;
		color: #ca4500;
		font-weight: 300;
		background-color: #ff9600;
		border-color:#ff9800;
		height: 40px;
		width: 170px;
		border-radius: 25px;
		
	}
	.btn-22
	{
		text-align: center;
		margin-left:22px;
		font-size: 18px;
		font-family: Lobster;
		color: #838383;
		font-weight: 300;
		background-color: #ebebeb;
		border-color:#dfdfdf;
		height: 40px;
		width: 170px;
		border-radius: 25px;
	}
	.contacts
	{
		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 195px;
		
		
		margin: 0px 13% 0px 13%;
		
	}
	.payment
	{
		vertical-align: bottom;
		display: inline-block;
		
		width:430px;
		height: 193px;
		padding-top: 25px;
		padding-left: 40px;
		padding-right:20px;
	}
	.get-in-touch
	{
		vertical-align: bottom;
		display: inline-block;
		
		width:230px;
		height: 193px;
		padding-top: 25px;
		padding-left: 40px;
		padding-right:20px;
	}
.design
	{
		vertical-align: bottom;
		display: inline-block;
		
		width:312px;
		height: 193px;
		padding-top: 25px;
		padding-left: 40px;
		padding-right:20px;
	}
.logo
	{
		vertical-align: bottom;
		display: inline-block;
		
		width:220px;
		height: 193px;
		padding-top: 25px;
		padding-left: 40px;
		padding-right:20px;
	}
	.footer
	{
		padding-top: 0px;
		padding-left:12px;
		padding-right:12px;
		
		height: 55px;
		margin: -1px 13% 12px 13%;
		
		
		background-color:#222;

	}
	.contacts, .payment, .get-in-touch, .design, .logo
	{
		background-image:url(file:///C:/Users/Admin/Desktop/github%20test/First-site/img/bg-1.png);
	}
	.copyright
	{
		vertical-align: bottom;
		display: inline-block;
		background-color:#222;
		width:69%;
		height: 55px;
		padding-top: 18px;
		padding-left: 40px;
		padding-right:20px;
	}
	.social
	{
		vertical-align: bottom;
		display: inline-block;
		background-color:#222;
		width:30%;
		height: 55px;
		padding-top: 10px;
		padding-left: 40px;
		padding-right:20px;
	}

